<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Texto</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
	<div class="content">
		
		<h2>Lector de texto. Convierte texto a mp3</h2>
		<form method="post" action="/">
			<p>Ponle nombre de archivo y pega el texto que quieres que lea el programa y se creara el archivo mp3 para poder escucharlo.</p>
			<label for="title">Nombre de archivo (carpeta/nombre del archivo o solo nombre)</label>
			<input type="text" id="title" name="title" required>
			<label for="">Texto a leer, pega aquí el texto</label>
			<textarea name="text" id="text" cols="30" rows="10" required></textarea>
			<input type="submit" value="Enviar a leer >> ">
		</form>
		<div id="message"></div>
		<script>
			const urlParams = new URLSearchParams(window.location.search);
			if (urlParams.get('message')){
				document.getElementById('message').innerHTML=urlParams.get('message')
			}
		</script>
	</div>
   
</body>
</html>